
<div class="row chart-container" id="[id]">
    <div class="col-lg-12">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                <div class="col-lg-5 col-sm-6 title hidden-xs">
                    [title]
                </div>
                <div class="col-lg-2 col-sm-6 view hidden-xs">
                
                </div>
                <div class="col-lg-5 col-sm-12 panel-tabs tabs">
                    <ul class="nav nav-pills">
                        
                        <li class="today active">
                            <a href="#" data-toggle="tab" class="translate">dziś</a>
                        </li>
                        
                        <li class="active period" rel="d1"><a href="#" data-toggle="tab" class="translate">24h</a></li>
                        <li class="period" rel="d7"><a href="#" data-toggle="tab" class="translate">7d</a></li>
                        <li class="period" rel="m1"><a href="#" data-toggle="tab" class="translate">1m</a></li>
                        <li class="period" rel="m12"><a href="#" data-toggle="tab" class="translate">12m</a></li>
                        

                        
                        
                    </ul>
                
                </div>


            </div>
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <canvas class="main-chart" id="[id]-chart" height="[y]" width="[x]"></canvas>
                </div>
            </div>
            <div class="navi">
                <a class="previous"><span title="Prevoius"></span></a>
                <a class="next"><span title="Next"></span></a>
            </div>
        </div>
    </div>
</div>