<script>
var requireJS = [
    "assets/js/libs/jquery.dataTables.min.js",
    "assets/js/libs/dataTables.bootstrap.min.js",
    'assets/js/libs/jquery-ui.min.js'
];
loadJS(requireJS, "assets/js/views/devices.js");
</script>

<link rel="stylesheet" href="assets/css/jquery-ui.css"/>

<div id="current-title" class="translate" hidden>Devices</div>
<div id="current-desc" class="translate" hidden>Devices used to make the object intelligent</div>

<div class="animated fadeIn devices">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-edit"></i> <span class="translate">Devices</span>
            <div class="card-actions">
                <a href="#">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-block">
            <table class="table table-striped table-bordered devicetable">

            </table>
        </div>
    </div>
    
    
    <div class="add-item">
        <a href="#">
            <i class="icon-plus"></i>
        </a>
    </div>    
    
    
</div>

<!-- Modal -->
<div id="edit-device" class="modal fade" role="dialog" data-backdrop="static" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <input type="text" name="name" placeholder="Device name" class="name translate" value=""/>
            [<input type="text" name="symbol" placeholder="symbol" class="symbol translate" value=""/>]
        </h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default translate" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info translate">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirm-delete" table="devices" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
            </div>
            <div class="modal-body translate">Are you sure you want to delete it?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default translate" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok translate">Delete</a>
            </div>
        </div>
    </div>
</div>


<input type="file" id="img-input" accept="image/*" style="display: none" />

<!-- Modal -->
<div id="edit-control" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <input type="text" name="addr" placeholder="Control address" class="addr translate" value=""/>
        </h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default translate" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info translate">Save changes</button>
      </div>
    </div>
  </div>
</div>
