<script>
    loadJS([], "assets/js/views/login.js");
</script>
    
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card-group vamiddle login-form">
                <div class="card p-a-2">
                    <div class="card-block">
                        <h1 class="translate">Login</h1>
                        <p class="text-muted translate">Sign In to your account</p>
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control translate" placeholder="Username" name="username">
                        </div>
                        <div class="input-group m-b-2">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" class="form-control translate" placeholder="Password" name="password">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" id="login" class="btn btn-primary p-x-2 translate">Login</button>
                            </div>
                            <div class="col-xs-6 text-xs-right">
                                <button type="button" class="btn btn-link p-x-0 translate">Forgot password?</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
