	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Nawigacja</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><span>HOME</span>KAMELEON</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <span class="username">Gość</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="loggedout"><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login</a></li>
							<li class="loggedin logout"><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Wyloguj</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
			<li class="dashboard"><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Status</a></li>
			<li class="settings loggedin"><a href="settings.html"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> WiFi</a></li>
			<li class="buffer loggedin"><a href="buffer.html"><svg class="glyph stroked key"><use xlink:href="#stroked-key"></use></svg> Kolejka urządzeń</a></li>
			<li class="register loggedin"><a href="register.html"><svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> Moduły zarejestrowane</a></li>
			<li class="ios loggedin"><a href="ios.html"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg> Wejścia i wyjścia</a></li>
			<li class="scripts loggedin"><a href="scripts.html"><svg class="glyph stroked video"><use xlink:href="#stroked-video"></use></svg> Akcje</a></li>
			<li class="navcharts loggedin"><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Wykresy temperatur</a></li>
			
			<li role="presentation" class="divider loggedout"></li>
			<li class="loggedout"><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Logowanie</a></li>
		</ul>

	</div><!--/.sidebar-->
