<script>
    loadJS([], "assets/js/views/project.js");
</script>

<div id="current-title" hidden class="translate">Project</div>
<div id="current-desc" hidden class="translate">add new project</div>

<div class="animated fadeIn project" >

    <div class="row" id="project">
        <input type="hidden" name="id" value="0"/>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong class="translate">Project attributes</strong> 
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label translate" for="text-input">Project name</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                            <span class="help-block translate">Short name of the project</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label translate" for="text-input">Project description</label>
                        <div class="col-md-9">
                            <input type="text" name="description" class="form-control" placeholder="Description">
                            <span class="help-block translate">Short description of the project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong class="translate">Project image</strong> 
                </div>            
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="img-input">
                            <img id="img_img" class="project-avatar"/>
                        </label>
                        <div class="col-md-8">
                            <input type="file" id="img-input" name="img" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <div class="form-actions">
                <button type="submit" id="save-project" class="btn btn-primary translate">Save changes</button>
            
            </div>        
        </div>
    </div>
    
    
    
    
    <div id="project-structure">
        
    </div>
    <input type="file" id="svg-input" accept="image/svg" style="display: none" />
    
    <div class="add-item" style="display: none">
        <a href="#">
            <i class="icon-plus"></i>
        </a>
    </div>
    
</div>
                    

<div class="modal fade" id="confirm-delete" table="structure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
            </div>
            <div class="modal-body translate">Are you sure you want to delete it?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default translate" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok translate">Delete</a>
            </div>
        </div>
    </div>
</div>


