<div class="col-xs-12 col-md-6 col-lg-3 template" rel="[rel]" chid="[id]">
    <div class="panel panel-widget panel-[panel]">
        <div class="row no-padding">
            <div class="col-sm-3 col-lg-5 widget-left">
                <img style="max-height: 45px;" src="images/icon/[icon]"/>
            </div>
            <div class="col-sm-9 col-lg-7 widget-right">
                <div class="large">[value]</div>
                <div class="text-muted">[name]</div>
            </div>
        </div>
    </div>
</div>