
.nav >li.loggedin {
	display: none;
}

form .series {
	padding-top: 10px;
}


.iostable svg,
.scriptstable svg,
.buffertable svg,
.registertable svg {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.iostable svg.on {
	color: red;
}


#edit-script .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}


#edit-script .modal-body {
    padding-top: 0;
}
#edit-script .modal-body .row {
    border-bottom: solid 1px #d0d0d0;
    padding-top: 10px;
}



#edit-script .modal-body .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#edit-script .modal-body .row ul li {
    border: dotted 1px #d0d0d0;
}

#edit-script .modal-body .row ul li.add {
    border: 0;
}

#edit-script .modal-body .row ul li .x {
    content: "×";
    cursor: pointer;
    width: 1%;
    display: inline-block;
    float: right;
    padding: 0 4px 10px 0;
}


#edit-script .modal-body .row .conditions ul li .select2-container {
    width: 59%;
}

#edit-script .modal-body .row  ul.actions {
    margin-bottom: 20px;
}

#edit-script .modal-body .row  ul.actions li .select2-container,
#edit-script .modal-body .row  ul.nactions li .select2-container {
    width: 76%;
}


#edit-script .modal-body .row .scripts ul li .select2-container {
    width: 80%;
}

#edit-script .modal-body .row ul li condition {
    display: inline-block;
    width:38%;
}

#edit-script .modal-body .row ul .new-item {
    display: none;
}

#edit-script .modal-body .row .scripts ul li .delay {
    border: solid 1px #e0e0e0;
    width:17%;
    height: 32px;
}

#edit-script .modal-body .row ul.actions  li .value,
#edit-script .modal-body .row ul.nactions  li .value{
    border: solid 1px #e0e0e0;
    width:10%;
    height: 32px;
    font-size: 80%;
}

#edit-script .modal-body .row  ul.actions  li .delay,
#edit-script .modal-body .row  ul.nactions  li .delay {
    border: solid 1px #e0e0e0;
    width:10%;
    height: 32px;
    font-size: 80%;
}


#edit-script .modal-body .row ul li .cond_what {
    width: 40%;
    height: 32px;
	font-size: 11px;
}
#edit-script .modal-body .row ul li .cond_eq {
    width: 25%;
    height: 32px;
	font-size: 11px;
}
#edit-script .modal-body .row ul li .cond_value {
    width: 30%;
    height: 31px;
    font-size: 70%;
}


#edit-script .modal-body .add {
    cursor: pointer;
    float: right;
    margin: 5px 0 3px 0;
}


@media screen and (min-width: 768px) {

	#edit-script,
	#edit-input {
        top: 5px;
    }
    #edit-script .modal-dialog,
	#edit-input .modal-dialog {
        width: 88%;
        margin: 5px auto;
    }
    
}

.add-script {
	float: right;
	cursor: pointer;
	margin: 20px 0 20px 20px;
}
.add-script svg {
	width: 16px;
	height: 16px;
	color: #fff;
	margin-bottom: 4px;
	stroke-width: 3px;
}

.add-script span {
	font-size: 20px;
	font-weight: bold;

}


#edit-input .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}


#edit-input .modal-body {
    padding-top: 0;
}
#edit-input .modal-body .row {
    border-bottom: solid 1px #d0d0d0;
    padding-top: 10px;
}



#edit-input .modal-body .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#edit-input .modal-body .row ul li {
    border: dotted 1px #d0d0d0;
}

#edit-input .modal-body .row ul li.add {
    border: 0;
}

#edit-input .modal-body .row ul li .x {
    content: "×";
    cursor: pointer;
    width: 1%;
    display: inline-block;
    float: right;
    padding: 0 4px 10px 0;
}


#edit-input .modal-body .row .conditions ul li .select2-container {
    width: 60%;
}

#edit-input .modal-body .row .scripts ul li .select2-container {
    width: 80%;
}

#edit-input .modal-body .row ul li condition {
    display: inline-block;
    width:38%;
}

#edit-input .modal-body .row ul .new-item {
    display: none;
}

#edit-input .modal-body .row ul li .delay {
    border: solid 1px #e0e0e0;
    width:17%;
    height: 32px;
}

#edit-input .modal-body .row ul li .cond_what {
    width: 30%;
    height: 32px;
}
#edit-input .modal-body .row ul li .cond_eq {
    width: 15%;
    height: 32px;
}
#edit-input .modal-body .row ul li .cond_value {
    width: 50%;
    height: 31px;
    font-size: 70%;
}


#edit-input .modal-body .add {
    cursor: pointer;
    float: right;
    margin: 5px 0 3px 0;
}

#edit-input .modal-body .temps {
    display: none;

}

.ios-add {
	float: right;
}

.ios-add button {
	margin: 20px 0 20px 10px;
}

.registertable input.name {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}

.registertable td.name {
    cursor: text; 
}

.large {
	font-size: 1.4em;
}

.text-muted {
	line-height: 1.1em;
	font-size: 13px;
}