
.nav >li.loggedin {
	display: none;
}

form .series {
	padding-top: 10px;
}


.iostable svg,
.scriptstable svg,
.buffertable svg,
.registertable svg {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.iostable svg.on {
	color: red;
}

.iostable .haddr {
	font-size: 10px;
}

.iostable .haddr input {
	outline: none;
	width: 100%
}


#edit-script .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}


#edit-script .modal-body {
    padding-top: 0;
}
#edit-script .modal-body .row {
    border-bottom: solid 1px #d0d0d0;
    padding-top: 10px;
}



#edit-script .modal-body .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#edit-script .modal-body .row ul li {
    border: dotted 1px #d0d0d0;
}

#edit-script .modal-body .row ul li.add {
    border: 0;
}

#edit-script .modal-body .row ul li .x {
    content: "×";
    cursor: pointer;
    width: 1%;
    display: inline-block;
    float: right;
    padding: 0 4px 10px 0;
}


#edit-script .modal-body .row .conditions ul li .select2-container {
    width: 59%;
}

#edit-script .modal-body .row  ul.actions {
    margin-bottom: 20px;
}

#edit-script .modal-body .row  ul.actions li .select2-container,
#edit-script .modal-body .row  ul.nactions li .select2-container {
    width: 76%;
}


#edit-script .modal-body .row .scripts ul li .select2-container {
    width: 80%;
}

#edit-script .modal-body .row ul li condition {
    display: inline-block;
    width:38%;
}

#edit-script .modal-body .row ul .new-item {
    display: none;
}

#edit-script .modal-body .row .scripts ul li .delay {
    border: solid 1px #e0e0e0;
    width:17%;
    height: 32px;
}

#edit-script .modal-body .row ul.actions  li .value,
#edit-script .modal-body .row ul.nactions  li .value{
    border: solid 1px #e0e0e0;
    width:10%;
    height: 32px;
    font-size: 80%;
}

#edit-script .modal-body .row  ul.actions  li .delay,
#edit-script .modal-body .row  ul.nactions  li .delay {
    border: solid 1px #e0e0e0;
    width:10%;
    height: 32px;
    font-size: 80%;
}


#edit-script .modal-body .row ul li .cond_what {
    width: 40%;
    height: 32px;
	font-size: 11px;
}
#edit-script .modal-body .row ul li .cond_eq {
    width: 25%;
    height: 32px;
	font-size: 11px;
}
#edit-script .modal-body .row ul li .cond_value {
    width: 30%;
    height: 31px;
    font-size: 70%;
}


#edit-script .modal-body .add {
    cursor: pointer;
    float: right;
    margin: 5px 0 3px 0;
}


@media screen and (min-width: 768px) {

	#edit-script,
	#edit-input {
        top: 5px;
    }
    #edit-script .modal-dialog,
	#edit-input .modal-dialog {
        width: 88%;
        margin: 5px auto;
    }
    
}

.add-script {
	float: right;
	cursor: pointer;
	margin: 20px 0 20px 20px;
}
.add-script svg {
	width: 16px;
	height: 16px;
	color: #fff;
	margin-bottom: 4px;
	stroke-width: 3px;
}

.add-script span {
	font-size: 20px;
	font-weight: bold;

}


#edit-input .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}


#edit-input .modal-body {
    padding-top: 0;
}
#edit-input .modal-body .row {
    border-bottom: solid 1px #d0d0d0;
    padding-top: 10px;
}



#edit-input .modal-body .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#edit-input .modal-body .row ul li {
    border: dotted 1px #d0d0d0;
}

#edit-input .modal-body .row ul li.add {
    border: 0;
}

#edit-input .modal-body .row ul li .x {
    content: "×";
    cursor: pointer;
    width: 1%;
    display: inline-block;
    float: right;
    padding: 0 4px 10px 0;
}


#edit-input .modal-body .row .conditions ul li .select2-container {
    width: 60%;
}

#edit-input .modal-body .row .scripts ul li .select2-container {
    width: 80%;
}

#edit-input .modal-body .row ul li condition {
    display: inline-block;
    width:38%;
}

#edit-input .modal-body .row ul .new-item {
    display: none;
}

#edit-input .modal-body .row ul li .delay {
    border: solid 1px #e0e0e0;
    width:17%;
    height: 32px;
}

#edit-input .modal-body .row ul li .cond_what {
    width: 30%;
    height: 32px;
}
#edit-input .modal-body .row ul li .cond_eq {
    width: 15%;
    height: 32px;
}
#edit-input .modal-body .row ul li .cond_value {
    width: 50%;
    height: 31px;
    font-size: 70%;
}


#edit-input .modal-body .add {
    cursor: pointer;
    float: right;
    margin: 5px 0 3px 0;
}

#edit-input .modal-body .temps {
    display: none;

}

.ios-add {
	float: right;
}

.ios-add button {
	margin: 20px 0 20px 10px;
}

.registertable input.name {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}

.registertable td.name {
    cursor: text; 
}

.large {
	font-size: 1.4em;
}

.text-muted {
	line-height: 1.1em;
	font-size: 13px;
}

.chart-shadow {
	position: absolute;
	z-index: 300;
	display: none;
	border-radius: 5px;
	border: 1px solid;
	background-color: rgba(32,32,32,0.5);
	border-color: #FF2020;
	text-align: center;
	font-size: 3em;
	color: #FF0000;
	padding-top: 2em;
	font-family: Tahoma, Verdana;
}
.chart-shadow span {
	padding: 0.7em;
	background-color: rgba(250,250,250,0.4);
	border-radius: 10px;
}

.chart-container .nav li img {
	margin-left:10px;
	cursor: pointer;
}

.chart-container .navi a {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	pointer-events: none;
	z-index:400;
}

.chart-container .navi a span {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 36px;
	height: 34px;
	cursor: pointer;
	background-repeat: no-repeat;
	display: none;
	pointer-events: auto;
}



.chart-container:hover .navi a span,
.chart-container .navi a span.vis {
	display: block;
}

.chart-container .navi a.previous {
	left: 0;
}


.chart-container .navi a.next {
	right: 0;
}

.chart-container .navi a.previous span {
	left: 20%;
	background-image: url(../images/left.png);
}



.chart-container .navi a.next span {
	right: 20%;
	background-image: url(../images/right.png);
}

.chart-container .panel-heading .view {
	text-align: center;
	line-height: 35px;
}

.chart-container .panel-heading .view span{
	display:block;
	line-height: 0;
	font-size: 0.6em;
}



.chart-container .panel-heading .panel-tabs ul {
	float: right;
	padding: 0;
}

.chart-container .panel-heading .panel-tabs ul li {
	padding: 0;
	line-height: 25px;
}

.chart-container .panel-heading .panel-tabs ul li.today {
	line-height: 29px;
}


.chart-container .panel-heading .panel-tabs ul li.period a {
    border: 2px solid #30a5ff;
}
.nav-pills li.active a, .nav-pills li.active a:hover {
    background: #30a5ff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #30a5ff;
}

.chart-container .panel-heading .panel-tabs li.dropdown a {
	margin: 0;
	padding: 0 !important;
}

.chart-container .panel-heading .panel-tabs li.dropdown a:hover {
	background-color: transparent;
}

.chart-container .panel-heading .panel-tabs li.dropdown a.dropdown-toggle {
	padding: 2.5px 10px;
}

.chart-container .panel-heading .panel-tabs .dropdown-menu {
	left: auto;
	right: 0;
	padding: 5px 28px 5px 8px;
	background-image: url(../images/copy.png);
	background-position: right 5px center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.chart-container .panel-heading .panel-tabs img {
	width: 30px;
	margin-top: 4px;
}

.chart-container .panel-heading .panel-tabs img:hover {
	filter: saturate(50%);
	-webkit-filter: saturate(50%);
	-moz-filter: saturate(50%);
	-o-filter: saturate(50%);
	-ms-filter: saturate(50%);
}

