
#edit-device .modal-body .device-controls-container .slider {
    position: relative;
    margin: 8% 4% 0 4%;
    height: 60%;
    border: 1px #909090 solid;
    border-radius: 1%;
}

#edit-device .modal-body .device-controls-container .slider img {
    position: absolute;
    top: -20%;
    height: 140%
}

#edit-device .modal-body .device-controls-container .slider .progressbar {
    height: 100%;
    background-color: #ffff00;
}


#edit-input .modal-body {
    padding-top: 0;
}
#edit-input .modal-body .row {
    border-bottom: solid 1px #d0d0d0;
    padding-top: 10px;
}



#edit-input .modal-body .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#edit-input .modal-body .row ul li {
    border: dotted 1px #d0d0d0;
}

#edit-input .modal-body .row ul li .x {
    content: "×";
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 0;
}

#edit-input .modal-body .row ul li .select2-container {
    width: 100%;
}


.device-container .controls-container .control-slider {
    position: relative;
}

.device-container .controls-container .control-slider .slider {
    width: 90%;
    margin: 4% 4% 0 4%;
    height: 70%;
    border: #909090 solid;
    border-width: 0.1px;
}

.device-container .controls-container .control-slider .progressbar {
    background-color: yellow;
    height: 100%;
    position: relative;
}

.device-container .controls-container .mouseclick {
    cursor: crosshair;
}

.device-container .controls-container .control-slider img {
    position: absolute;
    height: 100%;
    left: 40%;
}

.control-edit .btn-danger {
    display: none;
}

