    <form class="row" autocomplete="off">
        <div class="col-md-8 col-md-offset-2">
            <div class="card-group vamiddle login-form">
                <div class="card p-a-2">
                    <div class="card-block">
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control translate" placeholder="Username" name="username" >
                        </div>
                        <div class="input-group m-b-2">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" class="form-control translate" placeholder="Password" name="password">
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </form>
