<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" rel="all" data-toggle="tab" href="#devices" role="tab"><i class="fa fa-arrow-down"></i></a>
    </li>
    [loop:tags]
    <li class="nav-item">
        <a class="nav-link" rel="[tag]" data-toggle="tab" href="#devices" role="tab"><i class="fa fa-[tag]"></i></a>
    </li>
    [endloop:tags]
    
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane p-a-1 active" id="devices" role="tabpanel">
        [loop:devices]
        <div class="all [tags]">
            <div class="m-r-1 pull-left">
                <div class="avatar">
                    <div class="device-element" rel="[symbol]"></div>
                    
                </div>
            </div>
            <div>
                <small class="text-muted">
                    [if:inputs]in:[inputs][endif:inputs]
                    [if:outputs]out:[outputs][endif:outputs]
                </small>
                <small class="text-muted pull-right m-t-q">[symbol]</small>
            </div>
            <div class="text-truncate font-weight-bold translate">[name]</div>
            <small class="text-muted"></small>
        </div>
        <br clear="all" class="all [tags]"/>
        <hr class="all [tags]"/>
        [endloop:devices]

</div>