
<div class="card inout">
    <div class="card-header">
        <strong class="translate">Input/output attributes</strong> 
    </div>
    <div class="card-block">

        <div class="form-group row">
            <label class="col-md-3 form-control-label translate" for="state">Default state</label>
            <div class="col-md-9">
                <input type="text" id="state" [if:state]value="[state]"[endif:state] name="state"
                       class="form-control translate" placeholder="Default state">
                <span class="help-block translate">State of output if no command was emited</span>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-3 form-control-label translate" for="estate">States emited</label>
            <div class="col-md-9">
                <input type="text" id="estate" [if:estate]value="[estate]"[endif:estate] name="estate"
                       class="form-control translate" placeholder="States emited">
                <span class="help-block translate">Input states emited after mouse operations, e.g. 0,1 </span>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-3 form-control-label translate">Acceptable range</label>
            <div class="col-md-4">
                <input type="text" id="min" [if:min]value="[min]"[endif:min] name="min"
                       class="form-control translate" placeholder="Min value">
                <span class="help-block translate">Min value</span>
            </div>
            <div class="col-md-4">
                <input type="text" id="max" [if:max]value="[max]"[endif:max] name="max"
                       class="form-control translate" placeholder="Max value">
                <span class="help-block translate">Max value</span>
            </div>
        </div>           
        
        
        <div class="form-group row">
            <label class="col-md-3 form-control-label translate" for="sstyle">Style line</label>
            <div class="col-md-9">
                <input type="text" id="sstyle" [if:sstyle]value="[sstyle]"[endif:sstyle] name="sstyle"
                       class="form-control translate" placeholder="Style line">
                <span class="help-block translate">CSS style depanding of state, use __STATE__ for evaluation</span>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-md-3 form-control-label" for="img-input">
                <i class="fa fa-plus"></i>
                <i class="fa fa-image"></i>
            </label>
            <div class="col-md-9">
                <ul class="images">
                    
                </ul>
            </div>
        </div>
        
    </div>
</div>