
<div class="card inout">
    <div class="card-header">
        <strong class="translate">Text control attributes</strong> 
    </div>
    <div class="card-block">

        <div class="form-group row">
            <label class="col-md-3 form-control-label translate" for="state">Default state</label>
            <div class="col-md-9">
                <input type="text" id="state" [if:state]value="[state]"[endif:state] name="state"
                       class="form-control translate" placeholder="Default state">
                <span class="help-block translate">State of output if no text was emited</span>
            </div>
        </div>
        


        
    </div>
</div>
