
<div class="row device-controls-top-container">

    <div class="col-md-4 device-attrinutes-container">
        
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Symbol</span>
                <input type="text" id="vattr" [if:symbol]value="[symbol]"[endif:symbol] name="symbol" class="form-control translate"
                    placeholder="Device symbol">
            </div>
        </div>
        
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Label</span>
                <input type="text" id="vattr" [if:vattr]value="[vattr]"[endif:vattr] name="vattr" class="form-control translate"
                    placeholder="Attribute name[:value1|value2|...]">
            </div>
        </div>


         <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Tags</span>
       
                <select id="tags" name="tags" multiple>
                    [loop:groups]
                    <option value="[value]" class="translate" [if:selected]selected[endif:selected]>[label]</option>
                    [endloop:groups]
                </select>
           
            </div>
         </div>

    

        <div class="device-controls-label-container">
            <div class="drg" type="inout">
                <span class="name">inout</span>
            </div>
            <div class="drg" type="slider">
                <span class="name">slider</span>
            </div>

        </div>
    
    </div>
    <div class="col-md-6">
        <div class="row disable-toggle translate">
            Input symbol first
        </div>
        <div class="device-controls-parent-container">
            <div class="row device-controls-container"></div>
        </div>

    </div>
    
    <div class="col-md-2">
    
        <div class="dim">
             x: <input class="x"/><br/>
             y: <input class="y"/><br/>
             w: <input class="w"/><br/>
             h: <input class="h"/>
         </div>        
    </div>
    
       
</div>


    