
<div class="card">
    <div class="card-header">
        <strong class="translate">User attributes</strong> 
    </div>
    <div class="card-block">

        <div class="form-group">
            
            <div class="input-group">
                <span class="input-group-addon translate">First and lastname</span>
                <input type="text" id="name" value="[name]" name="name" class="form-control translate"
                    placeholder="First and lastname"><span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Email address</span>
                <input type="text" id="email" value="[if:email][email][endif:email]" name="email" class="form-control translate"
                    placeholder="Email address"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>        
            </div>
 
        </div>
 
       <div class="form-group">
            
            <div class="input-group">
                <span class="input-group-addon translate">Reset password</span>
                <input type="password" value="" name="password" class="form-control translate"
                    placeholder="Reset password"><span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
            </div>
        </div>
 

        [if:!admin]
        <div class="form-group">
   
            
           <fieldset class="form-group">
               <label class="translate">Projects</label>
               <div class="controls">
                   <select class="form-control" name="projects" multiple>
                        [loop:allProjects]
                        <option value="[id]" [if:selected]selected[endif:selected]>[name]</option>
                        [endloop:allProjects]
                     
                   </select>
               </div>
           </fieldset>
      
            
        </div>
        [endif:!admin]

        
    </div>
</div>