
<div class="card">
    <div class="card-header">
        <strong class="translate">Device attributes</strong> 
    </div>
    <div class="card-block">

        <div class="form-group row">
            <label class="col-md-3 form-control-label translate" for="label">[label_name]</label>
            <div class="col-md-9">
                [if:!select]
                <input type="text" id="label" value="[label]" name="label"
                       class="form-control translate" placeholder="enter label value">
                [endif:!select]
                [if:select]
                <select name="label" class="form-control">
                    <option value="" class="translate">Choose</option>
                    [loop:select]
                        <option value="[value]" [if:selected]selected[endif:selected]>[value]</option>
                    [endloop:select]
                </select>
                [endif:select]
                <span class="help-block translate"></span>
            </div>
            
        </div>
        
    </div>
</div>