<div class="row">

    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Type</span>
                <input type="text" id="type" value="[type]" name="type"
                       class="form-control translate" placeholder="Type">
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Device</span>
                <input device="text" id="device" [if:device]value="[device]"[endif:device] name="device"
                       class="form-control translate" placeholder="Device">
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Address</span>
                <input address="text" id="address" [if:address]value="[address]"[endif:address] name="address"
                       class="form-control translate" placeholder="Address">
            </div>
        </div>
    </div>
    
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">IO</span>
                <input io="text" id="io" value="[io]" name="io"
                       class="form-control translate" placeholder="I/O">
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">GPF</span>
                <input io="text" id="gpf" [if:gpf]value="[gpf]"[endif:gpf] name="gpf"
                       class="form-control translate" placeholder="General Purpose Field">
            </div>
        </div>
    </div> 
    
</div>

<div class="container-fluid">
[loop:actions]
    <div class="row">
        <div class="activity col-md-1">
            <label class="switch switch-default switch-success">
                <input type="checkbox" class="switch-input" value="1" [if:active]checked[endif:active]/>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
        
        <div class="conditions col-md-7">
            <ul>
            [loop:conditions]
                <li class="item">
                    <select class="inputoroutput" rel="[haddr]"></select>
                    <condition>[condition]</condition>
                </li>
            [endloop:conditions]
                <li class="new-item">
                    <select class="inputoroutput" rel="[haddr]"></select>
                    <condition></condition>
                </li>
                <li class="add plus-last"><i class="icon-plus"></i></li>
            </ul>
        </div>
        
        <div class="scripts col-md-4">
            <ul>
            [loop:scripts]
                <li class="item">
                    <select rel="[script]" class="scripts">
                        
                    </select>
                    <input type="text" [if:delay]value="[delay]"[endif:delay] class="translate delay" placeholder="delay"/>
                </li>
            [endloop:scripts]

                <li class="new-item">
                    <select rel="" class="scripts">
                        
                    </select>
                    <input type="text" class="translate delay" placeholder="delay"/>
                </li>
                
                <li class="add plus-last"><i class="icon-plus"></i></li>
            </ul>
        </div>
    </div>
    
[endloop:actions]

</div>

<div class="add plus-action"><i class="icon-plus"></i></div>


<div class="row new-row" style="display: none">
    <div class="activity col-md-1">
        <label class="switch switch-default switch-success">
            <input type="checkbox" class="switch-input" value="1" checked/>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
    </div>
    
    <div class="conditions col-md-7">
        <ul>
            <li class="item">
                <select class="inputoroutput" rel="[haddr]"></select>
                <condition></condition>
            </li>
            <li class="new-item">
                <select class="inputoroutput" rel="[haddr]"></select>
                <condition></condition>
            </li>
            <li class="add plus-last"><i class="icon-plus"></i></li>
        </ul>
    </div>
    
    <div class="scripts col-md-4">
        <ul>
            <li class="item">
                <select class="scripts"></select>
                <input type="text" class="delay translate" placeholder="delay"/>
            </li>
            <li class="new-item">
                <select class="scripts"></select>
                <input type="text" class="delay translate" placeholder="delay"/>
            </li>

            <li class="add plus-last"><i class="icon-plus"></i></li>
        </ul>
    </div>
</div>



