

<div class="container-fluid">
[loop:actions]
    <div class="row">
        <div class="col-md-2">
            <label class="switch switch-default switch-success">
                <input type="checkbox" class="switch-input" value="1" [if:active]checked[endif:active]/>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
        
        <div class="conditions col-md-5">
            <ul>
            [loop:conditions]
                <li class="item">
                    <select class="inputoroutput" rel="[haddr]"></select>
                    <condition>[condition]</condition>
                </li>
            [endloop:conditions]
                <li class="new-item">
                    <select class="inputoroutput" rel="[haddr]"></select>
                    <condition></condition>
                </li>
                <li class="add plus-last"><i class="icon-plus"></i></li>
            </ul>
        </div>
        
        <div class="scripts col-md-5">
            <ul>
            [loop:scripts]
                <li class="item">
                    <select rel="[script]" class="scripts">
                        
                    </select>
                    <input type="text" [if:delay]value="[delay]"[endif:delay] class="translate delay" placeholder="delay"/>
                </li>
            [endloop:scripts]

                <li class="new-item">
                    <select rel="" class="scripts">
                        
                    </select>
                    <input type="text" class="translate delay" placeholder="delay"/>
                </li>
                
                <li class="add plus-last"><i class="icon-plus"></i></li>
            </ul>
        </div>
    </div>
    
[endloop:actions]

</div>

<div class="add plus-action"><i class="icon-plus"></i></div>


<div class="row new-row" style="display: none">
    <div class="col-md-2">
        <label class="switch switch-default switch-success">
            <input type="checkbox" class="switch-input" value="1" checked/>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
    </div>
    
    <div class="conditions col-md-5">
        <ul>
            <li class="item">
                <select class="inputoroutput" rel="[haddr]"></select>
                <condition></condition>
            </li>
            <li class="new-item">
                <select class="inputoroutput" rel="[haddr]"></select>
                <condition></condition>
            </li>
            <li class="add plus-last"><i class="icon-plus"></i></li>
        </ul>
    </div>
    
    <div class="scripts col-md-5">
        <ul>
            <li class="item">
                <select class="scripts"></select>
                <input type="text" class="delay translate" placeholder="delay"/>
            </li>
            <li class="new-item">
                <select class="scripts"></select>
                <input type="text" class="delay translate" placeholder="delay"/>
            </li>

            <li class="add plus-last"><i class="icon-plus"></i></li>
        </ul>
    </div>
</div>



